<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block input %}{% endblock input %}

    {% block data %}{% endblock data %}

    {% block delete %}{% endblock delete %}

    {% block edit %}{% endblock edit %}

    {% block success %}{% endblock success %}

   {% block resgister %}{% endblock resgister %}
   
   {% block login %} {% endblock login %}

</body>
</html>